footer{
  padding: 45px 0;
  background-color: #262626;
  .img{
    margin-right: 50px;
    img{
      width: 45px;
    }
  }
  .footer-content-top{
    padding: 15px 0;
    color: white;
    @include text(13, bold, 'Nexa Heavy');
    text-transform: uppercase;
    border-bottom: solid 1px #4c4c4c;
    a:hover, li:hover .fa{
      color: $turquoise;
    }
    a.dropdown-toggle::after{
      display: none;
    }
    .fa{
      margin-left: 5px;
      font-size: 8px;
      color: #909393;

    }
  }
  .footer-content-bottom{
    padding: 15px 0;
    color: #909393;
    @include text(13);
    text-transform: capitalize;
    ul li{
      margin-right: 30px;
    }
    .social a{
      margin-left: 15px;
      font-size: 22px;
      cursor: pointer;
    }
    a:hover{
      color: #7b7c7c;
    }
  }
}