.no-scroll{
    margin: 0; 
    height: 100%; 
    overflow: hidden
}
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    background-color: white;
    transition: all .3s;
    opacity: 1;
    .wrapper-pre-img{
        position: relative;
        width: 100vh;
        height: 100vh;
        background-image: url('../images/preloaders.gif');
        background-size: cover;
        background-position: center;
    }
}
header {
    height: 100vh;
    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-position: center;
    nav {
        padding: 20px 0;
        a:hover {
            transform: scale(1.05);
        }
        ul li {
            margin: 0 17px;
            a {
                display: block;
                transform: scaleY(0.9);
                color: white;
                text-transform: uppercase;
                @include text(13, bold, 'Nexa Heavy');
                &:hover {
                    color: white;
                }
            }
            &.active{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                background-color: $turquoise;
                border-radius: 25px;
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 7px;
                    width: 20px;
                    height: 20px;
                    background-color: $orange;
                    border-radius: 50%;
                    color: white;
                    font-size: 11px;
                }
            }
        }
    }
    .wrapper-header-center {
       flex-grow: 1;
       .header-center {
           color: white;
           h1 {
               @include text(42, bold, 'Nexa Heavy');
               text-transform: uppercase;
               transform: scaleY(.9);
           }
           p:first-of-type {
                margin-top: 35px;
                font-size: 20px;
           }
           .wrapper-form {
               padding: 15px;
               margin-top: 60px;
               background-color: rgba(38, 38, 38, 0.3);
               form {
                .fa {
                    min-width: 20px;
                    color: $lightBlack;
                    font-size: 20px;
                }
               .location-date {
                   flex-wrap: wrap;
                   border-radius: 3px;
                   background-color: white;
                   input {
                       flex-grow: 1;
                       padding: 15px 5px;
                       min-width: 100px;
                       border: none;
                       outline: none;
                   }
                   .location {
                       border-right: solid 1px #dadada;
                   }
                   & .fa{
                    cursor: pointer;
                    &:hover{
                        color: #757575;
                    }
                   }
               }
               .checkroom-sbt {
                   margin-top: 10px;
                   .checkroom {
                       padding: 0 0 0 15px;
                       flex-grow: 1;
                       border-radius: 3px;
                       background-color: white;
                       .radioBtn {
                           margin-right: 20px;
                           padding: 15px 5px;
                           border: none;
                           outline: none;
                           color: $lightBlack;

                           input{
                               display: none;
                               &:checked + label span .fa{
                                   opacity: 1;
                               }
                           }
                           label {
                            font-size: 12px;
                            color: #8c8c8c;
                            cursor: pointer;
                            b{
                                margin-right: 10px;
                                @include text(16, bold);
                                color: #242424;
                            }
                            span {
                                position: relative;
                               display: flex;
                               align-items: center;
                               margin-right: 5px;
                                width: 20px;
                                height: 20px;
                                border:solid 2px $lightBlack;
                                border-radius: 2px;
                                .fa {
                                    font-size: 15px;
                                    opacity: 0;
                                }
                           }
                        }
                       }
                   }
                   .wrapper-sbt {
                       padding-left: 10px;
                       align-self: stretch;
                       .sbt {
                           padding: 11px 20px;
                           width: 100%;
                            height: 100%;
                            text-transform: uppercase;   
                            @include text(14, inherit, 'Nexa Heavy');
                            color: $turquoise;
                            background-color: transparent;
                            border-radius: 3px;
                           border: solid 2px $turquoise;
                            cursor: pointer;
                            transition: all .5s;
                            &:hover{
                                background-color: $turquoise;
                                color: white;
                            }
                            .fa{
                                margin-right: 5px;
                                color: inherit;
                            }
                       }
                   }
               }
            }
           }
           p:last-of-type{
               margin-top: 40px;
               a {
                   text-decoration: underline;
                   &:hover{
                       color: white;
                   }
               }
           }
           a.my-btn {
               margin-top: 40px;
               padding: 15px 20px;
               text-transform: uppercase;
               color: white;
               border: solid 2px white;
               border-radius: 2px;
               background-color: transparent;
               transition: all .5s;
               &:hover {
                    color: $lightBlack;
                   background-color: white;
               }
           }
        }
    }
}